body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Thème sombre */
body.theme-dark {
    --background-color: #202020;
    --text-color: #FFA500;
}

/* Thème clair */
body.theme-light {
    --background-color: #999999; /* Gris clair */
    --text-color: #c76d00; /* Orange plus foncé */
    text-shadow: #202020 1px 1px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
}

.header {
    transition: var(--background-color) 0.3s ease;
}

.titre1 {
    color: var(--text-color);
    font-size: 55px;
}

.toggle-theme {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.toggle-theme input {
    display: none; /* Cacher le checkbox */
}

.slider {
    width: 100px;
    height: 50px;
    align-items: center;
    background-color: #ccc;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.3s ease;
}

.slider:before {
    content: '🌞';
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
    padding-top: 5px;
}

.toggle-theme input:checked + .slider {
    background-color: var(--text-color); /* Couleur de fond pour le mode sombre */
}

.toggle-theme input:checked + .slider:before {
    transform: translateX(60px); /* Déplacement du bouton du slider */
    content: '🌜';
}

.icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); /* Centrer verticalement et horizontalement */
    font-size: 16px;
    transition: opacity 0.3s ease;
}


.nav-links {
    list-style-type: none;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 3px;
    width: 25px;
    background-color: var(--text-color);
    margin: 4px;
}

main {
    padding: 20px;
    background-color: var(--background-color);
}

h1, h2 {
    color: var(--text-color);
}

.project-card {
    border: 1px solid #797979;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #797979;
    border-radius: 5px;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: var(--text-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #757575; /* Une teinte plus foncée pour le survol */
    color: #00ff00;
}

/* Menu hamburger pour mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--background-color);
        width: 100%;
        top: 50px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
